# Dashboard
dash==2.14.2
dash-core-components==2.0.0
dash-html-components==2.0.0
pandas==2.1.4
plotly==5.18.0
SQLAlchemy==2.0.25
psycopg2-binary==2.9.9
gunicorn==21.2.0
python-dateutil==2.8.2

# Data handling
numpy==1.26.2

# Server
Flask==2.2.5
Werkzeug==2.2.3

# Utilities
python-dotenv==1.0.0 